@model List<CSharpSimpleCRUD.Entities.Event>

@{
    ViewData["Title"] = "Events";
}

<h1>Participants</h1>

<table class="table">
    <thead>
        <tr>
            <th>Event Title</th>
            <th>Location</th>
            <th>Date</th>
            <th>Organizer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>@eventItem.EventTitle</td>
                <td>@eventItem.Location</td>
                <td>@eventItem.EventDate.ToShortDateString()</td>
                <td>@eventItem.Organizer</td>
                <td>
                    <div class="d-grid">
                        <a class="btn btn-primary btn-sm w-100 mb-2" asp-controller="Event" asp-action="Edit" asp-route-id="@eventItem.EventId">Edit</a>
                        <a class="btn btn-danger btn-sm w-100 mb-2" asp-controller="Event" asp-action="Delete" asp-route-id="@eventItem.EventId">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>